global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'node'
    static_configs:
      - targets: ['node_exporter:9100']

  - job_name: 'postgres'
    static_configs:
      - targets: ['postgres_exporter:9187']
    
  - job_name: 'custom_api'
    static_configs:
      - targets: ['custom_exporter:9101']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: 'external_apis'